*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* ************************online appoinment***************************** */
.derrier{
    z-index: -100;
}
.pos1{
    top:50%;
    left: 20%;
}
.pos2{
    top: 100%;
    left: 20%;
}
/* our activity */
.title::after{
    content: '';
    position: absolute;
    display: block;
    width: 25%;
    height: 3px;
    left: 50px;
    bottom: 120px;
    background: orangered;
}

/* Learning Medcine */
.medcine{
    background-color: rgb(242, 195, 195);
}
.mama{
    padding: 200px 0;
    height: 800px;
}
.som{
    left: 45%;
    top: -5%;
}
.tata{
    top: -39%;
    left: 35px;
}
.tota{
    top: -53%;
    left: 30px;
}

/* ************************media queries************* */
@media screen and (max-width:900px) {
    .ground-menza{
        position: relative;
    }
    .pos1{
        top: 100%;
        left: 50%;
    }
    .pos2{
        top: 140%;
        left: 50%;
    }
    .marge{
        margin-top: 70%;
    }
}