*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* ************************online appoinment***************************** */
.derrier{
    z-index: -100;
}
.pos1{
    top:50%;
    left: 20%;
}
.pos2{
    top: 100%;
    left: 20%;
}

/* ************************media queries************* */
@media screen and (max-width:900px) {
    .ground-menza{
        position: relative;
    }
    .pos1{
        top: 100%;
        left: 50%;
    }
    .pos2{
        top: 140%;
        left: 50%;
    }
    .marge{
        margin-top: 70%;
    }
    /* medcine */
    .momo{
        padding: 20px;
        right: 50%;
        height: 700px;
    }
    .momo img{
        width: 50%;
    }
    .som{
        left: 40%;
    }
   .tota{
    right: 100%;
    top: -35%;
   }
    .tata{
    top: -30%;
    left: 30px;
    }
    /* footer */
    footer{
        text-align: center;
    }
}